
<section id="footer-bar">
<section>
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="{{ contact }}">{{ text_contact }}</a></li>
              <li><a href="{{ return }}">{{ text_return }}</a></li>
              <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          </ul>
              </li>		
						</ul>				
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
						  <li><a href="{{ account }}">{{ text_account }}</a></li>
              <li><a href="{{ order }}">{{ text_order }}</a></li>
              <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
              <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{{ theme_logo }}" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
    </section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
      </div>

      <script src="{{ theme_uri }}themes/js/common.js"></script>
		<script src="{{ theme_uri }}themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
    </footer>
    </html>