<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{{ theme_uri }}bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="{{ theme_uri }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="{{ theme_uri }}themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{ theme_uri }}themes/css/flexslider.css" rel="stylesheet"/>
		<link href="{{ theme_uri }}themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{{ theme_uri }}themes/js/jquery-1.7.2.min.js"></script>
		<script src="{{ theme_uri }}bootstrap/js/bootstrap.min.js"></script>				
		<script src="{{ theme_uri }}themes/js/superfish.js"></script>	
		<script src="{{ theme_uri }}themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
    <meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="{{ base }}" />
      {% if description %}
    <meta name="description" content="{{ description }}">
      {% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
<link href="{{ theme_uri }}bootstrap/css/bootstrap.min.css" rel="stylesheet">      
<link href="{{ theme_uri }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ theme_uri }}themes/css/flexslider.css" rel="stylesheet"/>
<link href="{{ theme_uri }}themes/css/main.css" rel="stylesheet"/>
<link href="{{ theme_uri }}themes/css/bootstrappage.css" rel="stylesheet"/>

<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ theme_uri }}themes/js/jquery-1.7.2.min.js"></script>
<script src="{{ theme_uri }}bootstrap/js/bootstrap.min.js"></script>	
<script src="{{ theme_uri }}themes/js/superfish.js"></script>	
<script src="{{ theme_uri }}themes/js/jquery.scrolltotop.js"></script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<nav id="top">
	<div id="top-bar" class="container">{{ currency }}
          {{ language }}
			<div class="row">
				<div class="span4">
         {{ search }}	
				</div>
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="{{ account }}">{{ text_account }}</a></li>
							<li><a href="{{ order }}">{{ text_order }}</a></li>	
              <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> 
        <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
              <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> 
        <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>		
							<li class="dropdown"><a href="http://shopstore/index.php?route=account/account" title="Личный кабинет" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-user"></i> 
              <span class="hidden-xs hidden-sm hidden-md">Личный кабинет</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
          {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
              </li>		
				</ul>
			   </div>
			</div>
		</div>
</nav>
  <div id="wrapper" class="container">
        <section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<div id="logo" class="logo pull-left"><a href="{{ home }}"><img src="{{ theme_logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a></div>
</div>
		  <nav id="menu" class="pull-right"> 
		    {{ menu }}
			</nav>
		  
  </div>
  </section>
  </div>
</header>

						<!--<ul>
						
							<li><a href="./products.html">Woman</a>					
								<ul>
									<li><a href="./products.html">Lacinia nibh</a></li>									
									<li><a href="./products.html">Eget molestie</a></li>
									<li><a href="./products.html">Varius purus</a></li>									
								</ul>
							</li>															
							<li><a href="./products.html">Man</a></li>			
							<li><a href="./products.html">Sport</a>
								<ul>									
									<li><a href="./products.html">Gifts and Tech</a></li>
									<li><a href="./products.html">Ties and Hats</a></li>
									<li><a href="./products.html">Cold Weather</a></li>
								</ul>
							</li>							
							<li><a href="./products.html">Hangbag</a></li>
							<li><a href="./products.html">Best Seller</a></li>
							<li><a href="./products.html">Top Seller</a></li> 
						</ul> -->
					
